.stTabs [data-baseweb="tab-list"] {
    gap: 0.5rem;
    padding: 0.5rem;
}

.stTabs [data-baseweb="tab"] {
    font-size: 1.2rem;
    padding: 0.7rem 1.5rem;
    background-color: #f9f9f9;
    border-radius: 0.5rem;
    border: 1px solid #e0e0e0;
    transition: all 0.3s ease;
    font-weight: 500;
    color: #333;
}

.stTabs [data-baseweb="tab"]:hover {
    background-color: #e6f2ff;
    border: 1px solid #b3d1ff;
    color: #004080;
}

.stTabs [aria-selected="true"] {
    background-color: #004080;
    color: white;
    font-weight: bold;
    border: 1px solid #003366;
}
